/* https://stackoverflow.com/questions/114543/how-to-horizontal */
.shift {
    display: block;
    width:50%;
    margin: 0 auto;
}

.shift2 {
    padding-left: 42.5%;
}

.center {
    text-align: center;
}

.header {
    overflow-x: scroll;
    border-style:solid;
    border-color:cadetblue;
    border-width: 1px;
    margin-top: 10px;
    padding: 5px;
}

.desc {
    overflow-y: scroll;
    max-height: 64px;
    border-style:solid;
    border-color: cadetblue;
    border-width: 1px;
    border-top-style: none;
    border-bottom-style: none;
    padding: 5px;   
}

.meta {
    overflow-x: scroll;
    border-style:solid;
    border-color: cadetblue;
    border-width: 1px;
    border-top-style: none;
    padding: 5px;
}