.header {
    margin: 0;
    background-color: rgb(121, 33, 236);
    text-align: center;
}

.button {
    margin: 0;
    margin-inline: 4px;
    margin-block: 4px;
    border-color:rgb(132, 62, 223);
    border-width: 4px;
    background-color: rgb(121, 33, 236);
    color:aliceblue;
    font-size: 24px;
    font-family: monospace;
}