.header {
    overflow-x: scroll;
    border-style:solid;
    border-color:cadetblue;
    border-width: 1px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: 10px;
    padding: 5px;
}

.desc {
    overflow-y: scroll;
    max-height: 64px;
    border-style:solid;
    border-color: cadetblue;
    border-width: 1px;
    border-top-style: none;
    border-bottom-style: none;
    padding: 5px;
}

.meta {
    overflow-x: scroll;
    border-style:solid;
    border-color: cadetblue;
    border-width: 1px;
    border-top-style: none;
    border-bottom-style: none;
    padding: 5px;
}

.footer {
    border-style: solid;
    border-color: cadetblue;
    border-width: 1px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}